<div class="property-detail" *ngIf="property">
  <h1 class="property-name">{{ property.name }}</h1>

  <div class="address-section">
    <h2>Address</h2>
    <p>
      <strong>{{ property.address.streetAddress }}</strong>
      (<span>{{ property.address.fullAddress }}</span>)
    </p>
  </div>
  <div class="search-section">
    <input
      type="text"
      placeholder="Search by number plate"
      [(ngModel)]="searchQuery"
      (input)="filterVehicle()"
    />
  </div>

  <div class="vehicles-section">
    <h2>Authorized Vehicles</h2>
    <ul>
      <li *ngFor="let vehicle of filteredVehicles">
        <p><strong>Number Plate:</strong> {{ vehicle.numberPlate }}</p>
        <p><strong>Model:</strong> {{ vehicle.model }}</p>
      </li>
    </ul>
  </div>
  <button class="add-button-floating" (click)="addVehicleToProperty()">+</button>
</div>
