<div class="property-list-container">
  <div class="header">
    <h2>Properties</h2>
    <button class="add-button" (click)="addProperty()">Add Property</button>
  </div>
  <table class="property-table">
    <thead>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Address</th>
    </tr>
    </thead>
    <tbody>
    <tr
      *ngFor="let property of properties; let i = index"
      (click)="goToDetail(property)"
    >
      <td>{{ i + 1 }}</td>
      <td>{{ property.name }}</td>
      <td>
          <span class="address" title="{{ property.address.fullAddress }}">
            {{ property.address.streetAddress }}
          </span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
